@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

#main{
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

#chart_holder{
    position: relative;
}

#scale{
    position: absolute;
    right: -60px;
    top: -10px;
}

.scroll_wrapper{
    overflow-y: hidden;
    overflow-x: auto;
/*    visibility: hidden;*/
}

#chart{
    font-family: 'Open Sans', sans-serif;
    height: 340px;
    visibility: visible;
}



.timeline{
    shape-rendering: crispEdges;
    stroke: #ccc;
}

.month_tick line{
    shape-rendering: crispEdges;
    stroke: #ccc;
}

.month_tick text{
    font-weight: 300;
    font-size: 32px;
    fill: rgba(0,0,0,0.25);
}

.axis{
    transform: translate(0, 10px);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.bar text{
    fill: rgba(101, 101, 101, 1);
    font-size: 13px;
    text-anchor: middle;
}

.bar .value{
    fill: #000;
    font-size: 15px;
    text-anchor: middle;
}

.bar .date{
    fill: rgba(101, 101, 101, 1);
    font-size: 15px;
    text-anchor: middle;
}

.bar .weekday{
    fill: rgba(101, 101, 101, 1);
    font-size: 10px;
    text-anchor: middle;
}

.bar .holiday{
    fill: #D70014;
}

.bar .circle{
    stroke: rgba(57, 186, 130, 1);
    stroke-width: 2;
    fill: #fff;
}
.bar .circle_stroke{
    stroke: #fff;
    stroke-width: 2;
    fill: #fff;
}

.curve{
    fill: none;
    stroke-width: 2;
    stroke: rgba(57, 186, 130, 1);
}

.area{
    fill: rgba(57, 186, 130, 0.3);
}

#video_select{
    font-size: 24px;
    margin-bottom: 15px;
}

#options_bar{
    position: relative;
    height: 40px;
    margin-bottom: 20px;
}

.switcher{
    position: absolute;
    top: 0;
    color: #0a68ab;
    font-size: 16px;
}

.switcher span{
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
    border-bottom: 1px dotted;
    cursor: pointer;
    line-height: 1.5;
}
.switcher .active{
    padding: 0 7px;
    background: #0a68ab;
    color: #fff;
    border-radius: 5px;
    border-bottom: none;
}

#activity_switcher{
    left: 0;
    margin-left: -7px;
}

#period_switcher{
    right: 0;
    margin-right: -7px;
}